autopep8==2.0.4
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
numpy==1.26.1
pandas==2.1.2
plotly==5.18.0
pylint==3.0.2
scipy==1.11.3
seaborn==0.13.0
setuptools==68.2.2
sourcery==1.12.0
openpyxl==3.1.2
nbformat==5.9.2
dash==2.14.2
dash-ag-grid==2.4.0
scikit-learn==1.3.2
dash-tools==1.12.0